@import 'variables';

.adminLayout, .loginLayout {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;

    .title {
        font-size: var(--t20);
        font-weight: var(--semibold);
    }

    
    #action {
        border:none;
        color: var(--w2);
        padding: 7px 0 8px 0;
        background: var(--n3);
        font-size: var(--t15);
        width: 100%;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    #toggleChangeOrder, #cancelChangeOrder {
        margin-top: 30px;
        box-sizing: border-box;
        border:none;
        padding: 7px 14px;
        background: var(--n4);
        color:var(--w3);
        font-size: var(--t15);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    #cancelChangeOrder {
        margin-top: 0;
        display: none;
        background: none;
        color:var(--b3);
    }
}

.loginLayout {
    padding-top: 20vh;

    input {
        border: 1px solid var(--n3);
        font-size: var(--t15);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}

#sections {
    margin-bottom: 70px;
}

.sectionCard {
    position: relative;
    user-select: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px 12px;
    margin: 5px 0;
    font-size: var(--t15);
    background: var(--w1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 2px solid var(--w1);

    .appointementCardPrefix {
        position: relative;
        // width: 100%;
        box-sizing: border-box;
        padding: 3px 8px 4px 8px;
        margin-top: 5px;
        // background: var(--n3);
        // color: var(--w3);
        background: var(--w3);
        color: var(--b3);
        font-size: var(--t10);
        font-weight: var(--light);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    
    .sectionCard-move {
        display: none;
        cursor: row-resize;
    }
    &.dragging {
        cursor: row-resize;
        border: 2px solid black;
    }
}


.cardEdition, .lineEdition, .tarifEdition {
    background: var(--w2);
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    svg {
        box-sizing: content-box;
        padding: 5px;
    }
    .form-control {
        border:none;
        margin: 3px 0;
    }
    .input-group {
        justify-content: center;
    }
    .input-group-text {
        border: none;
        margin: 3px 0;
    }
}

#cardAdd, #lineAdd, #tarifAdd {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    box-sizing: content-box;
    padding: 5px 7px;
    background: var(--w2);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

#submitForm, #submitDeleteForm {
    border:none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#submitForm {
    background: $green;
}
#submitDeleteForm {
    background: $red;
}